.C-section1{
    background-image: url('../../assets/images/bgApropos2.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}